* {
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding-left: 40px;
    width: 1231px;
    height: 91px;
    left: 104px;
    top: 23px;
    background: #FFFFFF;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    z-index: 1;
}

nav h6 {
    cursor: pointer;
    font-size: 20px;
}

nav .navigation ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 40px;
}

nav .navigation ul li {
    list-style: none;
    margin-left: 30px;
}

nav .navigation ul li a {
    text-decoration: none;
    color: rgb(21, 21, 100);
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
}


.content h6 {
    
    position: absolute;
    width: 400vh;
    height: 100vh;
    left: 154px;
    top: 222px;
    z-index: 1;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 61px;
    color: #000000;
}

.content p {
    position: absolute;
    width: 372px;
    height: 24px;
    left: 159px;
    top: 383px;
    z-index: 1;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.content button {
    position: absolute;
    width: 240px;
    height: 57px;
    left: 159px;
    top: 465px;
    z-index: 1;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px 10px 70px 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    cursor: pointer;
}

.content .btn .circle {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 10px;
    left: 185px;
    border-radius: 50%;
    background: #00FF38;
}

.content .btn .sqr {
    position: absolute;
    width: 21px;
    height: 21px;
    top: 10px;
    left: 199px;
    border-radius: 10%;
    background: #00FF38;
}

.left {
    position: absolute;
    width: 1440px;
    height: 627px;
    left: 0px;
    top: 0px;

    background: rgba(219, 255, 238, 0.64);
    filter: blur(2px);
    border-radius: 150px 0px 0px 0px;
}

.right {
    position: absolute;
    width: 931.5px;
    height: 839px;
    left: 617.39px;
    top: -92px;

    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    filter: blur(50px);
}

.content img {
    /* R 1 */

    position: absolute;
    width: 500px;
    height: 402px;
    left: 900px;
    top: 150px;
}

.bracket {
    position: absolute;
    width: 1247px;
    height: 182px;
    left: 0px;
    top: 635px;
    background: linear-gradient(to right, rgb(214, 4, 4), red, rgb(214, 4, 4));
    border-radius: 0px 80px 0px 0px;
}

.bracket h6 {
    display: flex;
    position: absolute;
    width: 717px;
    height: 58px;
    left: 89px;
    top: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */
    color: #fff;
}

.bracket .btn2 {
    position: absolute;
    width: 240px;
    height: 57px;
    left: 963px;
    top: 60px;
}

.bracket .btn2 .circle2{
    position: absolute;
    width: 35px;
    height: 35px;
    top: 10px;
    left: 185px;
    border-radius: 50%;
    background: #00FF38;
}

.bracket .btn2 .sqr2{
    position: absolute;
    width: 21px;
    height: 21px;
    top: 10px;
    left: 199px;
    border-radius: 10%;
    background: #00FF38;
}

.card{
    display: flex;
    margin-top: 60%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #74EbD5;
    background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
}

.box{
    width: 300px;
    height: 380px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    padding-top: 80px;
    margin: 20px;
    text-align: center;
    letter-spacing: 1px;
    box-shadow: 0, 3px, 5px, rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.box h3{
    font-size: 35px;
    padding: 20px 0; 
    color: #444;
}

.box p{
    font-size: 15px;
    color: #777;
}

.box button{
    width: 140px;
    height: 40px;
    background-color: #333;
    color: #fff;
    border: none;
    outline: none;
    font-size: 17px;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 40px;
}

.box button:hover{
    letter-spacing: 2px;
    opacity: 0.8;
}

.box::before{
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.box::after{
    width: 100%;
    height: 100%;
    background-color: #fbda61;
    background-image: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    clip-path: circle(20% at 90% 10%);
    transition: .2s;
}

.box .count{
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 50px;
    font-weight: bolder;
    color: #fff;
}

.box:nth-child(2)::after{
    background-color: #0093e9;
    background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.box:nth-child(3)::after{
    background-color: #08aeea;
    background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%);
}

.box:hover::after{
    clip-path: circle(100%);
}

.box:hover{
    color: #fff;
}

.box:hover h3{
    color: #fff;
}

.box:hover p{
    color: #fff;
}

.box:hover button{
    color: #333;
    background-color: #fff;
}

.box:hover::before{
    background-color: rgba(0, 0, 0, 0.1);
}

footer{
    
    padding: 5px;
    background: #fff;
    border-top: 1px solid black;
}

.footer-content{
    font-size: 12px;
    display: flex;
    color: #000;
    align-items: center;
    justify-content: center;
}

/* About Section */

.container{
    display: flex;
    height: 30%;
    background-color: #000;
}

h1{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 26vh;
    z-index: 1;
    left: 45%;
}